<div class="landing-page-container">
    <h1 class="landing-page-text">
        Welcome to Khoi's movie website, 
        the ultimate destination for movie lovers! Whether you're searching for the latest releases,
        classic favorites, or hidden gems, we've got it all. Explore curated movie lists, 
        read expert reviews, and get personalized recommendations to make your next movie night unforgettable. 
        Stay updated with trailers, news, and upcoming releases, and join a community of passionate film enthusiasts. 
        Dive in and start discovering your next favorite movie today!
    </h1>
    <button class="landing-page-button" (click)="handleLogin()">{{loginState ? 'Go to home page' : 'Login to use our full services'}}</button>
</div>

