.main-page-container{
    background-color: rgb(19, 19, 19);
    width: 100%;
    height: calc(100vh - 60px);
    position: relative;
} 

.main-page-container .movie-list-topic{
    font-size: 20px;
    font-weight: bold;
    color:white;
    width: calc(220px * 5);
    position: absolute;
    bottom: calc(48% + 10px);
    left: 0; 
    right: 0; 
    margin-inline: auto; 
}
.main-page-container .movie-slider{
    overflow: hidden;
    width: calc(220px * 5);
    height: 40%;
    position: absolute;
    bottom: 8%;
    left: 0; 
    right: 0; 
    margin-inline: auto; 
}

.main-page-container .movie-list{
    display:flex;
    height: 100%;
    transition: transform 0.5s ease; 
}

.main-page-container .slider-left-icon,
 .main-page-container .slider-right-icon{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 100;
}

.main-page-container .slider-left-icon{
    left:0;
}

.main-page-container .slider-right-icon{
    right: 0;
}

.main-page-container .movie-item{
    flex: 0 0 200px;
    height: 100%;
    margin: 0 10px;
    background-color: rgb(38, 38, 38);
    box-sizing: border-box;
}
.main-page-container .movie-item.high-light-movie{
    border: 2px solid #1ecbe1;
}

.main-page-container .movie-item .movie-poster-container{
    height: 80%;
    width: 100%;
    overflow: hidden;
    position: relative;
    user-select: none;
}

.main-page-container .movie-item .movie-poster{
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease;
}
.main-page-container .movie-item:hover .movie-poster{
    transform: scale(1.1);
}

.main-page-container .movie-item .movie-name{
    color:white;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis; 
    width: calc(100% - 10px); 
    margin: 3px 5px;
    box-sizing: border-box; 
    cursor: default;
}

.main-page-container .movie-item .movie-genre{
    color:rgb(157, 157, 157);
    font-size: 12px;
    text-align: center;
    overflow: hidden; 
    text-overflow: ellipsis; 
    width: calc(100% - 10px); 
    margin: 0px 5px;
    box-sizing: border-box; 
    cursor: default;
}

.main-page-container .movie-item .overlay{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden; 
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

.movie-play-icon{
    color: rgb(78, 128, 193);
    font-size: 25px;
}

.main-page-container .movie-item:hover .overlay{
   opacity: 1;
   visibility: visible;
}

.main-page-container .feature-movie-image{
    width: 100%;
    height: 99%;
    object-fit: cover;
    opacity: 0.7;
}

.main-page-container .feature-movie-info{
    height: 40%;
    position: absolute;
    top: 20px;
    width: 80%;
    color: white;
    left: 0; 
    right: 0; 
    margin-inline: auto; 
    display: flex;
    flex-direction: column;
    gap:10px;
}

.main-page-container .feature-movie-info .feature-movie-title{
    font-size: 35px;
    font-weight: bold;
}

.main-page-container .feature-movie-info .feature-movie-rating,
.main-page-container .feature-movie-info .feature-movie-duration{
    font-size: 20px;
    color:rgb(210, 210, 210);
}

.main-page-container .feature-movie-info .feature-movie-watch-button{
    height: 50px;
    width: 100px;
    border-radius: 999px;
    background-color: black;
    color: white;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    transition: 0.5s;
}
.main-page-container .feature-movie-info .feature-movie-watch-button:hover{
    background-color: white;
    color:black;
}

.main-page-container .feature-movie-info .feature-movie-text-area{
    width: 50%;
    height: 60%;
    overflow: auto;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer 10+ */
}
.main-page-container .feature-movie-info .feature-movie-text-area::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Edge */
  }

  .main-page-container .feature-movie-info .feature-movie-description{
    font-size: 16px;
    line-height: 20px;
  }

