<div class="main-page-container">
    <img [src]='featuredMovie?.coverImageUrl'
    alt="feature movie image" 
    class="feature-movie-image">
    <div class="feature-movie-info">
        <p class="feature-movie-title">{{featuredMovie?.title + ' ('+ featuredMovie?.releaseYear + ')'}}</p>
        <p class="feature-movie-rating">{{'Rating: ' + featuredMovie?.rating}}</p>
        <p class="feature-movie-duration">{{'Duration: ' + featuredMovie?.duration + ' minutes'}}</p>
        <button class="feature-movie-watch-button" [routerLink]="['/watch-page', featuredMovie?.id]">
            <fa-icon [icon]="faPlay" class="feature-movie-play-icon"></fa-icon>  Watch
        </button>
        <div class="feature-movie-text-area">
            <p class="feature-movie-description">{{featuredMovie?.synopsis}}</p>
        </div>
        
    </div>
    <p class="movie-list-topic">Home</p>
    <div class="movie-slider">
        <fa-icon [icon]="faChevronLeft" class="slider-left-icon" (click)="moveLeft()" ></fa-icon>
        <div class="movie-list" [ngStyle]="{'transform': 'translateX(' + movieListTransformValue + 'px)'}">
            @for(movie of movieList ; track movie){
                <div class="movie-item" 
                (click)="getFeaturedMovie(movie)" 
                [class.high-light-movie]='movie === featuredMovie'
                [routerLink]="movie === featuredMovie ? ['/watch-page', featuredMovie.id] : []">
                    <div class="movie-poster-container">
                        <img class="movie-poster" src={{movie.posterUrl}} alt="movie poster">
                        <div class="overlay">
                            <fa-icon [icon]="faPlay" class="movie-play-icon"></fa-icon>
                        </div>
                    </div>
                    <p class="movie-name">{{movie.title}}</p>
                    <p class="movie-genre">{{movie.genre}}</p>
                </div>
            }    
        </div>
        <fa-icon [icon]="faChevronRight" class="slider-right-icon" (click)="moveRight()"></fa-icon>
    </div>
</div>
