.header-container{
    width: 100%;
    background-color:black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.header-container .header-logo{
    width: 100px;
    height: 100%;
}

.header-container .header-navigation-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30%;
    height: 100%;
    
}

.header-container .header-navigation-buttons li{
    color: white;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    position:relative;
}
.header-container .header-navigation-buttons li:hover{
    background-color: white;
    color:black;
    transition: 0.5s;
}

.header-container .search-bar-and-login{
    display: flex;
    flex-direction: row;
    margin-right: 60px;
    gap: 10px;
}

.header-container .search-bar-wrapper{
    position: relative;
    display: flex;
    align-items: center;
    width: 200px;
}

.header-container .search-bar-wrapper .search-bar{
    width: 100%;
    border-radius: 15px;
    padding:10px;
    outline: none;
    border: none;
}

.header-container .search-bar-wrapper .search-bar-icon{
    position: absolute;
    top:25%;
    right:10px;
    opacity: 0.5;
    pointer-events: none;
}

.header-container .search-bar-wrapper .search-bar-filter-list{
    position: absolute;
    top: 40px;
    width: 100%;
    background-color: white;
    border-radius: 15px;
    padding: 10px;
    z-index: 10;
    max-height: 300px;
    overflow: auto;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer 10+ */
}
.header-container .search-bar-wrapper .search-bar-filter-list::-webkit-scrollbar{
    display: none;
}

.header-container .search-bar-filter-list .filter-list-item:not(:first-child){
    border-top: 1px solid grey;
}
.header-container .search-bar-filter-list .filter-list-item{
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.header-container .search-bar-filter-list .filter-list-item:hover{
    background-color: rgb(198, 198, 198);
}

.header-container .search-bar-filter-list .list-item-image{
    width: 40px;
    height: 90%;
    object-fit: cover;
}

.header-container .search-bar-filter-list .list-item-info{
    display: flex;
    flex-direction: column;
}

.header-container .login-button{
    width: 100px;
    height: 35px;
    border-radius: 999px;
    background: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid white;
}
.header-container .login-button:hover{
    color:black;
    background-color: white;
    transition: 0.5s;
}

.header-container .header-genre-list,
.header-container .header-nation-list,
.header-container .header-year-list{
    display: none;
    position: absolute;
    top: 100%;
    background-color: white;
    width: 100%;
    z-index: 100;
}

.header-container .header-genre-list li,
.header-container .header-nation-list li, 
.header-container .header-year-list li{
    color:black;
    width: 100%;
    height: 35px;
}
.header-container .header-genre-list li:hover,
.header-container .header-nation-list li:hover,
.header-container .header-year-list li:hover{
    background-color: rgb(172, 182, 190);
}

.header-container .header-genre-button:hover .header-genre-list,
.header-container .header-nation-button:hover .header-nation-list,
.header-container .header-year-button:hover .header-year-list{
    display:block;
}