<div class="header-container">
    <img src="logo.png" alt="logo" class="header-logo">
    @if (isLoggedIn) {
        <ul class="header-navigation-buttons">
            <li routerLink="/main-page">Home</li>
            <li class="header-genre-button">Genre
                <ul class="header-genre-list">
                    <li [routerLink]="['/filtered-page','Genre','Horror']">Horror</li>
                    <li [routerLink]="['/filtered-page','Genre','Sci-Fi']">Sci-fi</li>
                    <li [routerLink]="['/filtered-page','Genre','Comedi']">Comedi</li>
                    <li [routerLink]="['/filtered-page','Genre','Cartoon']">Cartoon</li>
                </ul>
            </li>
            <li class="header-nation-button">Nation
                <ul class="header-nation-list">
                    <li [routerLink]="['/filtered-page','Nation','USA']">USA</li>
                    <li [routerLink]="['/filtered-page','Nation','Viet Nam']">Viet Nam</li>
                    <li [routerLink]="['/filtered-page','Nation','French']">French</li>
                    <li [routerLink]="['/filtered-page','Nation','China']">China</li>
                </ul>
            </li>
            <li class="header-year-button">Year
                <ul class="header-year-list">
                    <li [routerLink]="['/filtered-page','Year','2014']">2014</li>
                    <li [routerLink]="['/filtered-page','Year','2010']">2010</li>
                    <li [routerLink]="['/filtered-page','Year','2008']">2008</li>
                    <li [routerLink]="['/filtered-page','Year','1999']">1999</li>
                </ul>
            </li>
        </ul>
    }
    <div class="search-bar-and-login">
        @if (isLoggedIn) {
            <div class="search-bar-wrapper">
                <input 
                [(ngModel)]="searchString"
                (ngModelChange)="searchMovie()"
                type="text" class="search-bar" placeholder="Search...">
                <fa-icon [icon]="faMagnifyingGlass" class="search-bar-icon"></fa-icon>
                @if(searchString !== ""){
                    <div class="search-bar-filter-list">
                        @for(movie of searchMovieList; track movie){
                            <div class="filter-list-item" [routerLink]="['/watch-page',movie.id]" (click)="clearSearch()">
                                <img class="list-item-image" src={{movie.posterUrl}} alt="movie-image">
                                <div class="list-item-info">
                                    <p class="movie-name">{{movie.title}}</p>
                                    <p class="movie-year">{{movie.releaseYear}}</p>
                                </div>
                            </div>
                        } 
                    </div> 
                } 
            </div>
        }
        <button (click)="isLoggedIn? logout() : showLoginForm()" class="login-button"
        [routerLink]="isLoggedIn ? '/' : null">
            {{isLoggedIn? "Log out" : "Log in"}}
        </button>
    </div>
</div>


