<div class="header-container">
    <img src="logo.png" alt="logo" class="header-logo">
    <ul class="header-navigation-buttons">
        <li>Home</li>
        <li class="header-genre-button">Genre
            <ul class="header-genre-list">
                <li>Horror</li>
                <li>Sci-fi</li>
                <li>Comedi</li>
                <li>Cartoon</li>
            </ul>
        </li>
        <li class="header-nation-button">Nation
            <ul class="header-nation-list">
                <li>Horror</li>
                <li>Sci-fi</li>
                <li>Comedi</li>
                <li>Cartoon</li>
            </ul>
        </li>
        <li class="header-year-button">Year
            <ul class="header-year-list">
                <li>Horror</li>
                <li>Sci-fi</li>
                <li>Comedi</li>
                <li>Cartoon</li>
            </ul>
        </li>
    </ul>
    <div class="search-bar-and-login">
        <div class="search-bar-wrapper">
            <input type="text" class="search-bar" placeholder="Search...">
            <fa-icon [icon]="faMagnifyingGlass" class="search-bar-icon"></fa-icon>
        </div>
        <button (click)="isLoggedIn? logout() : showLoginForm()" class="login-button">
            {{isLoggedIn? "Log out" : "Log in"}}
        </button>
    </div>
</div>


